:root {
  --primary-bg: rgb(20, 20, 20);
  --secondary-bg: rgb(31, 31, 31);
  --highlight: rgb(209, 255, 87);
  --text-color: rgb(230, 230, 230);
  --hover-bg: rgb(71, 71, 71);
  --button-bg: rgb(51, 51, 51);
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg);
  font-family: 'Courier New', Courier, monospace,Arial;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.profile img{
  width: 60px;
  border-radius: 30px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-bg);
  width: 90%;
  max-width: 400px;
  padding: 30px;
  border-radius: 20px;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;
}

.social-links{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.social-links a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: 200px; 
  max-width: 300px;
  border-radius: 10px;
  border: none;
  background-color: var(--button-bg);
  color: var(--text-color); 
  font-size: larger;
  font-size: 16px; /*1rem; /* Scalable font size 1rem = 16px(default value from html element)  & 1.5rem = 24px 2rem = 32px Depends on Root element size html and for em Depends on parent element size*/
  transition: background-color 0.3s ease, transform 0.3s ease;

}
.social-links a:hover {
  background-color: var(--hover-bg);
  transform: scale(1.05);
}
.social-links a:focus {
  outline: 2px solid var(--highlight);
}

.location{
  color: var(--highlight);
  font-size: 18px; /*1.125rem; Relative unit*/
  margin: 0;
  line-height: 1.5;
}
.name{
  margin-bottom: 10px;
}
.description{
  margin: 20px 0;
  text-align: center;
  line-height: 1.6;
}

/*
  Responsive design
*/

@media(max-width:768px){
  .container{
    width: 90%;
    padding: 20px;
  }
  .social-links a{
    width: 200px;
  }
}

@media (max-width:500px){
  .container{
    width: 100%;
    padding: 15px;
  }

  .profile img{
    width: 50px;
    border-radius: 25px;
  }
}